

<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="-mx-3 md:flex mb-6">
      <div class="md:w-full px-3 mb-6 md:mb-0">
        <%= form.label :title, class: "uppercase tracking-wide text-black text-xs font-bold mb-2" %>
        <%= form.text_field :title, class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" %>

        <%= form.label :description, class: "uppercase tracking-wide text-black text-xs font-bold mb-2" %>
        <%= form.text_area :description, class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" %>

        <%= form.label :image_url, class: "uppercase tracking-wide text-black text-xs font-bold mb-2" %>
        <%= form.text_field :image_url, class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" %>

        <%= form.label :price, class: "uppercase tracking-wide text-black text-xs font-bold mb-2" %>
        <%= form.text_field :price, class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= form.submit class: "bg-blue-400 
                            hover:bg-blue-500 
                            text-white 
                            uppercase 
                            text-s 
                            mx-auto 
                            p-2 rounded m-2" %>
  </div>
<% end %>
