
<div class="bg-gray-100 mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24 shadow-xl mb-24">
  <h1 class="text-gray-600 text-2xl">New Product</h1>
  <%= render 'form', product: @product %>
</div>

<%= link_to 'Back', products_path %>
